
 body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color:  #343a40 !important;
}

.titleN {
    margin: 0;
    color: #fff;
}

.navbar-text {
    color: #fff !important;
}

.container-fluid {
    margin-top: 20px;
}

.sidebar {
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
}

.sidebar h2 {
    color: #fff;
}

.sidebar ul.nav.flex-column li.nav-item {
    margin-bottom: 10px;
}

.sidebar ul.nav.flex-column li.nav-item a.nav-link {
    color: #fff;
    transition: all 0.3s ease;
}

.sidebar ul.nav.flex-column li.nav-item a.nav-link:hover {
    color: #17a2b8;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.card {
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 24px;
    color: #6c757d;
    margin-top: 10px;
}
